/* Problem 6: (not found in Dev Tools)*/
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
  }
  
  h1 {
    color: #333;
    text-align: center;
  }
  
  #profileContainer {
    background-color: white;
    width: 50%;
    margin: 20px auto;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  }
  
  /*Issue 7: Not necessarily a problem here, but related to a problem in HTML. */
  #largeImage {
    display: block;
    margin: auto;
  }
  
  
  body div#profileContainer > h2 {
    font-size: 2em;
  }
  
  /* Problem: 8 Hint, see Dev Tools LightHouse*/
  